{% extends 'menpha.html' %}
{% load static %}
{% load i18n %}

{% block title %} My List {{ mylist.created_by }} {% endblock %}

{% block content %}
{% if object_list %}
	{% for mylist in object_list %}
		<div class="resultbox {% if s.stolen == 'ns' %} not-stolen {% else %} stolen {% endif %}" style="background:url('{% if mylist.photo %}}{{ mylist.photo.url }}{% endif %}') no-repeat bottom right; background-size: 250px 250px;">
			<h3>Details of</h3> 
			<p>
				{{ mylist.slug }}
			</p>
			<h3> Owner </h3>
			<p>
				{{ mylist.created_by }}
			</p>
			<h3>Device name</h3> 
			<p>
				{{ mylist.device }}
			</p>
			<h3>Of type</h3> 
			<p>
				{{ mylist.get_type_of_item_display }}
			</p>
			<h3>Description</h3> 
			<p>
				{{ mylist.description }}
			</p>
				<div class="resultoption"> 
					<span> 
						<a href="/app/delete/{{ mylist.slug }}" class="bbtn red" role="button">Delete</a>
					</span> 
					<span> 
						<a href="/app/edit/{{ mylist.slug }}" class="bbtn blue" role="button">Edit</a>
					</span> 
					<span> 
						<a onclick="javascript:document.getElementById('overlay').style.display='block';" href="javascript:void(0);" class="bbtn blue" role="button"> Share </a>
					</span> 				
					<span>
						Modified {{ mylist.pub_date|timesince }} ago
					</span>
				</div>
		</div>
		{% endfor %}
	{% else %}
	<div class="confirmbox">
		<p> {% trans "Please, you do not have any item added so far." %}</p>
		<a href="{% url 'add' %}" class="bbtn blue large"> {% trans "Add" %} </a>
		<a href="{% url 'home' %}" class="bbtn white">{% trans "Continue searching" %}</a>
	</div>
{% endif %}
{% endblock %}