{% extends 'base.html' %}
{% load i18n %}
{% block title %} Confirm box {% endblock %}

{% block notify %}
	<strong style="color:red;">{% trans "NOT REVERSIBLE!"" %}</strong> {% trans "Confirm delete of" %}{{ to_delete }}. 
{% endblock %}

{% block content %}
	<div class="confirmbox">
		<form method="post" action="."> {% csrf_token %}
			<p> {% trans "Do you wanna delete" %}{{ to_delete }}? </p>
			<a href="/app/detail/{{ to_delete.slug }}" class="bbtn blue large2x">Don't delete</a>
			<input type="submit" value="Delete" class="bbtn red" />
		</form>
	</div>
{% endblock %}