{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} My List {{ mylist.created_by }} {% endblock %}

{% block notify %}
{% if object_list %}
	{% trans "Please find below your items added." %}
{% else %}
	{% trans "Ooooh! An empty list. Adding items to your list is instant and free." %}
{% endif %}
{% endblock %}

{% block content %}
{% if object_list %}
	{% for mylist in object_list %}
		<div class="resultbox {% if not s.stolen %} not-stolen {% else %} stolen {% endif %}" style="background:url('{% if mylist.photo %}}{{ mylist.photo.url }}{% endif %}') no-repeat bottom right; background-size: 250px 250px;">
			<span class="datebox">Last modified: {{ mylist.pub_date|timesince }} ago <br> Posted by: {{ mylist.created_by }}</span>
			<h3>IMEI match found</h3> 
			<p>
				{{ mylist.slug }}
			</p>
			<h3>Device</h3> 
			<p>
				{{ mylist.device }}
			</p>
			<h3>Of type</h3> 
			<p>
				{{ mylist.get_type_of_item_display }}
			</p>
			<h3>Description</h3> 
			<p>
				{{ mylist.description }}
			</p>
					<div class="resultoption"> 
						<span> 
							<a href="/app/delete/{{ mylist.slug }}" class="bbtn red" role="button">Delete</a>
						</span> 
						<span> 
							<a href="/app/edit/{{ mylist.slug }}" class="bbtn blue" role="button">Edit</a>
						</span> 
						<span>
							<a href="/app/notify/{{ mylist.slug }}" class="bbtn turquoise" role="button"> Notify Owner </a>
						</span>
					</div>
		</div>
		{% endfor %}
	{% else %}
	<div class="confirmbox">
		<p> {% trans "Please, you do not have any item added so far." %}</p>
		<a href="{% url 'add' %}" class="bbtn blue large"> {% trans "Add" %} </a>
		<a href="{% url 'home' %}" class="bbtn white">{% trans "Continue searching" %}</a>
	</div>
{% endif %}
{% endblock %}