{% extends 'base.html' %}
{% block title %} Something's wrong {% endblock %}

{% block notify %}
	Permission Denied - 404
{% endblock %}

{% block content %}
	<div class="confirmbox">
		<p>
			<strong>403</strong> Permission Denied.
		</p>
		<p> Trust me! You do not have the permission to do what you wished to do. <br>
		<span style="color:#666;">That’s all I know.</span></p>
		<a href="{% url 'home' %}" class="bbtn blue large">Homepage </a>
		<a href="{% url 'index' %}" class="bbtn white">search</a>
	</div>
{% endblock %}