{% extends 'metrika.html' %}

{% block ifhomescreen %} <!-- --> {% endblock %}

      {% block content %}
      <!--About Screen-->
      <article class="pt-page pt-page-1" id="about">
        <div class="outer-wrapper green1-bg">
          <!--Header-->
          <header class="row-fluid">
            <div class="container">
              <div class="span8 relative">
              	<div class="page-navi">
                  <a class="home-page" href="{% url 'intro' %}" title="Go Home"></a>
                </div>
                <h1>About Us</h1>
               
              </div>
              <div class="span4">
                <ul class="social-bar-white">
                   {% include "socialmedia.html" %}
                </ul>
              </div>
            </div>
          </header>        
          <!--Content-->
          <section class="row-fluid">
            <div class="container">
              <div class="quotation span12 clearfix">
              <div class="quotation-mark"></div>
                <p>With Menpha, you are always in the knowing of whether the smartphone or tablet you're planning buying is a missing or stolen one.</p>

                <p>
                Menpha is designed to provide global community-based tracking of IMEI's numbers of devices. Regardless of where you lost your device where you want to buy the awesome device your friend presented, you can help prevent the purchase or buying of it. 
                </p>
                <p>
                Our system can be trusted enough. Until the orginal owner of the device marks it as stolen, its not in your search results, which implies, the original owner still has his/her precious gadget. On the other hand, immediately a user marks his/her gadget as stolen from their personal account, the IMEI of the gadget is publicly available to be searched for, providing you right information with regards to your decision making.
                </p>
                <span class="quotation-author">Mark Nikson, General director</span>
            </div>
            </div>
            <div class="container">
              <div class="span6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus rhoncus sem. Cras in velit ante, eget pellentesque sem.</p>
              </div>
              <div class="span6">
                <p>Praesent rhoncus nunc vitae metus condimentum viverra. Fusce sed est orci, vel condimentum felis. Suspendisse ullamcorper vulputate sagittis. Quisque ullamcorper euismod diam at bibendum. Duis tincidunt erat quam. Etiam placerat sapien.</p>
              </div>
            </div>
          </section>
          <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
        <!--Footer-->
        {% include "footer.html" %}
      </article>
  	{% endblock %}