{% extends 'metrika.html' %}

{% block ifhomescreen %} <!-- --> {% endblock %}

      {% block content %}
      <!--About Screen-->
      <article class="pt-page pt-page-1" id="about">
        <div class="outer-wrapper green1-bg">
          <!--Header-->
          <header class="row-fluid">
            <div class="container">
              <div class="span8 relative">
              	<div class="page-navi">
                  <a class="home-page" href="{% url 'intro' %}" title="Go Home"></a>
                </div>
                <h1>About Us</h1>
               
              </div>
              <div class="span4">
                <ul class="social-bar-white">
                   {% include "socialmedia.html" %}
                </ul>
              </div>
            </div>
          </header>        
          <!--Content-->
          <section class="row-fluid">
            <div class="container">
              <div class="quotation span12 clearfix">
              <div class="quotation-mark"></div>
                <p>Menpha is a community-based imei-tagged device tracker supporting people around the globe to learn more about the condition of any device they purpose to acquire through purchase or swapping.</p>

                <span class="quotation-author">Rexford N, Developer, Menpha</span>
            </div>
            </div>
            <div class="container">
              <div class="span6">
                <p>To prevent the purchase of stolen or missing device(s) without your knowing, Menpha is a deployed platform aimed at informing you right based on user input information from the original owner.</p>
              </div>
              <div class="span6">
                <p>The goal of the Menpha project is to create a community of active users helping ensure the tracking of IMEI across the world. To ensure the right information for users, all input into the Menpha Project is contributed by humans, which is hightly reliable and flexible.</p>
              </div>
            </div>
          </section>
          <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
        <!--Footer-->
        {% include "footer.html" %}
      </article>
  	{% endblock %}