{% extends 'menpha.html' %}
{% load i18n %}

{% block title %} {% trans "Account Profile" %}{% endblock %}

{% block content %}
	<div class="confirmbox">
		<div style="font-size:40px;">
			<a href="" class="bbtn white">{{ account }}</a> {% trans "is your username." %}
		</div>	
		<p> 
			<a href="{% url 'password_change' %}" class="bbtn blue large">Change Password </a>
		</p>
		{% trans "I won't allow you to change your username, neither do I need more information from you." %}
	</div>
{% endblock %}