<!-- 
	Handwritten by Nkansah Rexford
	google.com/+Nkansahrexford
	Menpha Project
	Version 1.0
-->
{% spaceless %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
	<head>
		{% include 'meta.html' %}

		<link rel="stylesheet" type="text/css" href="{% static "css.css"%}">
		<link rel="stylesheet" type="text/css" href="{% static "scrollbar.css"%}">
		<link rel="stylesheet" type="text/css" href="{% static "bbtn.css"%}">
		<link rel="stylesheet" type="text/css" href="{% static "simptip.css"%}"/>
		<!--<link rel="shortcut icon" href="{% static "favicon.ico" %}">-->
		<title> {% block title %} {% trans "Community-based IMEI-tagged Gadget Tracker" %}{% endblock %} - Menpha</title>

	</head>
	{% block nav %}

	<nav>
		<div class="logo">
			<img src="{% static "logo.png" %}" />
		</div>
		<ul>
		{% if user.is_authenticated %}
	      <li><a href="/">{% trans "Home" %}</a></li>
	      <li><a href="{% url 'home' %}">{% trans "Search" %}</a>
	      <li><a href="{% url 'add' %}">{% trans "Add" %}</a></li>
	      <li><a href="{% url 'myList' %}">{% trans "My List" %}</a></li>
	      <li><a href="{% url 'learn' %}">{% trans "Help" %}</a></li>
	      <li><a href="{% url 'myAccount' %}">{{ user.username|capfirst }}</a></li>
	      <li class="last"><a href="{% url 'auth_logout' %}"> {% trans "Logout" %}</a></li>
	    {% else %}
	      <li><a href="{% url 'intro' %}" class="simptip-position-bottom simptip-movable simptip-info simptip-multiline" data-tooltip="Go to Home">{% trans "Home"%}</a></li> 
	      <li><a href="{% url 'learn' %}">{% trans "Help" %}</a></li>
	      <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
	      <li class="last"><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
	    {% endif %}
		</ul>
	</nav>
	{% endblock %}

<!-- Body Begins -->
	<div class="notifycontent" id="notify">
		<div class="notify">
			{% block notify %}
				Welcome!
			{% endblock %}
		</div>
		<span class="closebutton" onclick="document.getElementById('notify').style.display='none';">
			X
		</span>
	</div>

	<div class="content">
		{% block content %}
		<div class="searchbox">
			<div class="decobox">
				<form class="search" action="/search/">
					<input type="text" name="q" required placeholder="Enter IMEI Number" maxlength="15" />
					<input type="submit" value="Search" class="bbtn blue large" />
				</form>
			</div>
		</div>
		{% endblock %}
	</div>

	<!--<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45946260-1', 'menpha.herokuapp.com');
	  ga('send', 'pageview');

	</script>-->

	<footer>
		<p> Copyright &copy; Menpha, 2013 <a href="{% url 'about' %}">About</a> | <a href="{% url 'learn' %}">Learn</a> | <a href="http://google.com/+Nkansahrexford" target="_blank">Social</a> | <a href="{% url 'contact' %}"> Contact </a></p>
	</footer>

	<a href="#x" class="overlay" id="login_form"></a>
        <div class="popup">
			{% include 'socialbuttons.html' %}
		</div>
</html>
{% endspaceless %}