{% extends 'menpha.html' %}
{% load static %}
{% load i18n %}

{% block title %} Contact {% endblock %}

{% block content %}
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content"></div>
      <div class="project-hero">
        <div class="maia-cols">
          <div class="maia-col-4 hero-img">
            <img alt="contact image" src="{% static "contact.jpg" %}">
          </div>
          <div class="maia-col-8 hero-content">
            <p>
              Write to us
            </p>
            <h1 class="project-title">
              Menpha Project
            </h1>
            <p class="project-organization">
            {% blocktrans %}
              We strive to respond to many emails reaching us everyday. We are sorry if you do not get your response as immediately as possible. In addition, we do not guarantee you will always receive a response.
            {% endblocktrans %}
            </p>
            <p class="project-content">
            <h5>{% trans "Physical Address" %}</h5>
                Menpha Project <br/>
                G129/11, Densuano Street, <br>
                Koforidua <br>
                Eastern Region, 00233 <br/>
                Ghana.
            </p>
            <h5> Online </h5>
              Email : menphaproject [-at-] gmail [-dot-] com <br>
              Call : (+233) (0) 266 811 165
              <br/><br>
            <h1 class="project-title">Contact Form</h1>
             <div class="addbox">
              <form action='.' method='post'>{% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="bbtn large blue" role="button" value="Send Notice">
              </form>
            </div>

            <p class="project-impact-blurb">
              Thank you for reaching out to us
            </p>

            <div class="hero-footer">
              <img alt="Project logo" src="{% static "hero-logo.png" %}">
              <p class="hero-footer-link">
                <a href="{% url 'donate' %}" target="_blank">{% trans "Support" %}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  {% endblock %}