{% extends 'metrika.html' %}

{% block ifhomescreen %} <!-- --> {% endblock %}

{% block content %}
      <!--Contact Us Screen-->
      <article class="pt-page pt-page-5" id="contacts">
        <div class="outer-wrapper pink-bg">
          <!--Header-->
          <header class="row-fluid">
            <div class="container">
              <div class="span8 relative">
              	<div class="page-navi">
                  <a class="home-page" href="{% url 'intro' %}" title="Go Home"></a>
                </div>
                <h1>Contact Me</h1>
              </div>
              <div class="span4">
                <ul class="social-bar-white">
                   {% include "socialmedia.html" %}
                </ul> 
              </div>
            </div>
          </header>
          <!--Content-->
          <section class="row-fluid">
            <div class="container">
              <div class="span4 addspace">
                <h2>Address</h2>
                <p>G129/11, Densuano Street, Koforudia, Eastern Region<br/>Ghana</p>
              </div>
              <div class="span4 addspace">
                <h2>Phone</h2>
                <p>Support: +233 266 811 165 (24 hours/7 days a week)</p>
              </div>
              <div class="span4 addspace">
                <h2>Email</h2>
                <p>Support: <a href="mailto:menphaproject@gmail.com" title="mailto:menphaproject@gmail.com">menphaproject@gmail.com</a></p>
              </div>
            </div>
          </section>
          <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
        <!--Footer-->
        {% include "footer.html" %}
      </article>
    {% endblock %}