{% extends 'metrika.html' %}

{% block ifhomescreen %} <!-- --> {% endblock %}

      <!--Contact Us Screen-->
      <article class="pt-page pt-page-5" id="contacts">
        <div class="outer-wrapper pink-bg">
          <!--Header-->
          <header class="row-fluid">
            <div class="container">
              <div class="span8 relative">
              	<div class="page-navi">
                	<a class="home-page page-transition" href="#home" onclick="gotoPageWithTrans2(0)" title="Go Home"></a>
                  <a class="prev-page page-transition" href="#works" onclick="gotoPageWithTrans3(3)" title="Go To Previous Page"></a>
                </div>
                <h1>Contact Us</h1>
                <nav class="submenu page5-submenu">
                  <ul>
                    <li><a href="#about" class="page-transition" onclick="gotoPageWithTrans5(1)">About Us</a></li>
                    <li><a href="#team" class="page-transition" onclick="gotoPageWithTrans5(2)">Our Team</a></li>
                    <li><a href="#works" class="page-transition" onclick="gotoPageWithTrans5(3)">Our Works</a></li>
                    <li class="current"><a href="#contacts">Contact Us</a></li>
                    <li class="inline"><a href="#blog" class="page-transition" onclick="gotoPageWithTrans4(5)">Our Blog</a></li>
                    <li><a href="#feedback" class="page-transition" onclick="gotoPageWithTrans4(6)">Feedback</a></li>
                  </ul>
                </nav>
              </div>
              <div class="span4">
                <ul class="social-bar-white">
                  <li><a class="facebook-white" href="#" title="Facebook" target="_blank"></a></li>
                  <li><a class="twitter-white" href="#" title="Twitter" target="_blank"></a></li>
                  <li><a class="googleplus-white" href="#" title="Google+" target="_blank"></a></li>
                  <li><a class="linkedin-white" href="#" title="LinkedIn" target="_blank"></a></li>
                  <li><a class="behance-white" href="#" title="Behance" target="_blank"></a></li>
                </ul>
              </div>
            </div>
          </header>
          <!--Content-->
          <section class="row-fluid">
            <div class="container">
              <div class="span4 addspace">
                <h2>Address</h2>
                <p>49 Archdale, 2B Charleston, New York City,<br/>USA</p>
              </div>
              <div class="span4 addspace">
                <h2>Phone</h2>
                <p>Support: +777 (100) 1234 (10am - 6pm)</p>
                <p>Director: +777 (100) 1243 (6am - 11pm)</p>
              </div>
              <div class="span4 addspace">
                <h2>Email</h2>
                <p>Support: <a href="mailto:support@example.com" title="mailto:support@example.com">support@example.com</a></p>
                <p>Director: <a href="mailto:chief@example.com" title="mailto:chief@example.com">chief@example.com</a></p>
              </div>
            </div>
          </section>
          <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
        <!--Footer-->
        <footer>
          <div class="container">
            <p>Copyright &copy; ItemBridge inc., 2013</p>
          </div>
        </footer>
      </article>
      
      
