{% extends 'menpha.html' %}
{% load static %}
{% load i18n %}

{% block title %} Developer {% endblock %}

{% block content %}
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content"></div>
      <div class="project-hero">
        <div class="maia-cols">
          <div class="maia-col-4 hero-img">
            <img alt="Provide One HIV Test, Save Two Lives" src="{% static "provide-hiv-test.jpg" %}">
          </div>
          <div class="maia-col-8 hero-content">
            <p>
              {% trans "Learn about Menpha" %}
            </p>
            <h1 class="project-title">
              {% trans "Developer" %}
            </h1>
            <p class="project-organization">
              {% trans "Menpha currently has one core developer, a feature developer, and another code contributor." %}
            </p>
            <p class="project-content">
            {% blocktrans %}
              To help grow Menpha to its highest peak, Menpha is made open-sourced. This is aimed at improving features as quickly as possible and make efficient the use of Menpha. Menpha currently depends on these <a href="{% url 'technology' %}">Open Technologies</a>.
            {% endblocktrans %}
            </p>
            <p class="project-content">
              {% trans "Our project code is hosted on Github and your contribution is most welcomed." %}
            </p>
            <p class="project-impact-blurb">
              {% trans "Its everyone's job to help make the world a better and safer place." %}
            </p>
            <div class="hero-footer">
              <img alt="Project logo" src="{% static "hero-logo.png" %}">
              <p class="hero-footer-link">
                <a href="{% url 'donate' %}">{% trans "Support" %} </a>
                <a href="http://github.com/seanmavley/menpha.git" target="_blank">{% trans "Contribute Code" %}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  {% endblock %}