{% extends 'menpha.html' %}
{% load static %}

{% block title %} {% trans "Donate and Support" %} {% endblock %}

{% block content %}
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content"></div>
      <div class="project-hero">
        <div class="maia-cols">
          <div class="maia-col-4 hero-img">
            <img alt="Provide One HIV Test, Save Two Lives" src="{% static "provide-hiv-test.jpg" %}">
          </div>
          <div class="maia-col-8 hero-content">
            <p>
              Make Menpha Stand
            </p>
            <h1 class="project-title">
              Support Menpha Project
            </h1>
            <p class="project-organization">
              Menpha Project is determined to serve the global community in the best way possible. Menpha thus relies on your support and help Menpha to rise up to the occassion.
            </p>
            <p class="project-content">
              For an overview of the technologies Menpha runs at the backend <a href="">visit the technology page</a>
            </p>
            <p class="project-impact-blurb">
              Be a part of Menpha Project. Donate today!
            </p>
            <p class="project-impact-blurb">
              Your donation is channeled to scaling up our bandwidth to cover up for the daily increase in traffic.
            </p>           
             <div class="hero-footer">
              <img alt="Project logo" src="{% static "hero-logo.png" %}">
              <p class="hero-footer-link">
                <a href="" target="_blank">Donate</a>
                <a href="" target="_blank">Developers</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  {% endblock %}