{% extends 'base.html' %}
{% block title %} Help - Menpha {% endblock %}
{% block notify %}
	Learn more about Menpha and our service. Visit FAQ to learn more.
{% endblock %}
{% block content %}
	<div class="help">
		<article id="pagetop">
			<section class="header">
				<ul>
					<li><a href="#whatis">What Menpha is</a></li>
					<li><a href="#howto">How to use Menpha </a></li>
					<li><a href="">What is Menpha</a></li>
				</ul>
			</section>

			<section class="header">
				<ul>
					<li><a href="">What is Menpha</a></li>
					<li><a href="">What is Menpha</a></li>
					<li><a href="">What is Menpha</a></li>
				</ul>
			</section>

			<section>
				<div class="content">
					<h3 id="whatis">What is Menpha?</h3>
					<p>"In a nutshell, Menpha is a platform to inform you the potential state of the device you wish to purchase - either its a stolen device, or of genuine orgin(s)." - Developer
					</p>
						<b>Menpha</b>, ( pronounced <i>M3n-fa</i>) is a local <a href="http://en.wikipedia.org/wiki/Akan" target="_blank">Akan</a> word in Ghana, which means when transliterated, "Don't take". Menpha is a web app developed to solve one problem of international scale by a Django Developer in Ghana. The service provided by the Menpha web app is simple and one.
					<p>
						In today's world, trading (selling and buying) of smartphones or generally electronic gadgets is the norm. However, Menpha with its platform, meets head-on with this global cancar, by informing its uses of potentially stolen item, giving them a better insight into making the right decision either to purchase a second-hand device or otherwise.
					</p>
					<p>
						Many second-hand item buyers often trade stolen items without their knowledge, which indirectly 
					</p>
					<a href="#pagetop" class="bbtn white mini">Back to top</a>
				</div>
			</section>		

			<section>
				<div class="content">
					<h3 id="howto">How to use Menpha</h3>
					<p>
						Follow the simple steps below to get started with Menpha.
					</p>

					<p>
						Etiam enim lacus, ornare et tempor et, rhoncus rhoncus sem. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien. Fusce sed est orci, vel condimentum felis. Phasellus et enim sed est dictum luctus a in nibh. In metus dolor, interdum eget consectetur vel, ornare sodales felis.
					</p>
					<a href="#pagetop" class="bbtn white mini">Back to top</a>
				</div>
			</section>		
		</article>
	</div>	
{% endblock %}