{% extends 'base.html' %}
{% block title %} Help - Menpha {% endblock %}
{% block notify %}
	Learn more about Menpha
{% endblock %}
{% block content %}
	<div class="help">
		<article id="pagetop">
			<section class="header">
				<ul>
					<li><a href="#what-is-menpha"> What Menpha is</a></li>
					<li><a href="#menpha-basics"> Basics of Menpha </a></li>
					<li><a href="#what-is-imei">What is IMEI?</a></li>
					<li><a href="#why-imei">Why IMEIs</a></li>
				</ul>
			</section>

			<section class="header">
				<ul>
					<li><a href=""></a></li>
					<li><a href="">Empty</a></li>
					<li><a href="">Empty</a></li>
				</ul>
			</section>

			<section>
				<div class="content">
					<h3 id="what-is-menpha">What is Menpha?</h3>
					<p>
						Menpha is a free and simple web app developed to help you decide on your next purchase of the second-hand smartphone or tablet. It is designed to be quick, informative and reliable, whiles keeping your logged IMEI's out of reach of the public when you want.
					</p>
						Menpha is an <a href="http://en.wikipedia.org/wiki/Akan" target="_blank">Akan</a> word. It means when transliterated, "Don't take". 
					<p>
						Menpha is currently in Beta state and currently undergoing bugfixes and improvements.
					</p>
					<a href="#pagetop" class="bbtn white mini">Back to top</a>
				</div>
			</section>		

			<section>
				<div class="content">
					<h3 id="enpha-basics">Basics of Menpha</h3>
					<strong> I wanna purchase.</strong>
					<p>
						Many who steal smartphones and tablets try to sell them off. If you want to purchase a second-hand smartphone or tablet, we recommend you search the IMEI of the device against our database to be informed if its not a stolen one.
					</p>
					<p>
						Expect only 2 outcomes whenever you search our database. 
						<ol>
							<li> An IMEI matching your search appears - which means the device is marked as stolen by the official owner of the device. </li>
							<li> No search result - which means the device is clean to purchase. </li>
						</ol>
					</p>
					<strong> I lost my device.</strong>
					<p>
						Simply log into your account, and visit the My List page. Find the IMEI of the device you've lost and change to "Stolen"
					</p>
					<p>
						By so doing, you inform others who might come across the device and would like to purchase to know its a stolen item. 
					</p>
					<p>
						Menpha recommends you log all the individual IMEI of your devices on the platform and mark their states accordingly. This will help you refer to them easily should you lose your device.
					</p>
					<a href="#pagetop" class="bbtn white mini">Back to top</a>
				</div>
			</section>	

			<section>
				<div class="content">
					<h3 id="what-is-imei">What is IMEI?</h3>
					
					<p>
						Explain IMEI here briefly and link to Wikipedia
					</p>

					<a href="#pagetop" class="bbtn white mini">Back to top</a>
				</div>
			</section>		

			<section>
				<div class="content">
					<h3 id="why-imei">Why IMEIs</h3>
					<p>
						Explain why IMEI
					</p>

					<a href="#pagetop" class="bbtn white mini">Back to top</a>
				</div>
			</section>		
		</article>
	</div>	
{% endblock %}