{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Detail page {% endblock %}

{% block notify %}
	{% trans "The details page of your requested IMEI." %}
{% endblock %}

{% block content %}
	<div class="resultbox {% if not s.stolen %} not-stolen {% else %} stolen {% endif %}" style="background:url('{% if s.photo %}}{{ s.photo.url }} {% endif %}') no-repeat bottom right; background-size: 250px 250px;">
		<span class="datebox">Last modified: {{ s.pub_date|timesince }} ago <br> Posted by: {{ s.created_by }}</span>
		<h3>IMEI match found</h3> 
		<p>
			{{ s.slug }}
		</p>
		<h3>Device</h3> 
		<p>
			{{ s.device }}
		</p>
		<h3>Description</h3> 
		<p class="overlay">
			{{ s.description }}
		</p>
			<div class="resultoption"> 
			{% if user == s.created_by %}
				<span> 
					<a href="/app/delete/{{ s.slug }}" class="bbtn red" role="button">Delete</a>
				</span> 
				<span> 
					<a href="/app/edit/{{ s.slug }}" class="bbtn blue" role="button">Edit</a>
				</span> 
			{% else %}
				<span>
					<a href="" class="bbtn blue" role="button"> Share </a>
				</span>
			{% endif %}
			</div>
			<div class="detailimage">
			</div>
	</div>
{% endblock %}