{% extends 'menpha.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{ mylist.device }} detail page {% endblock %}

{% block content %}
	<div class="resultbox {% if mylist.stolen == 'ns' %} not-stolen {% else %} stolen {% endif %}" style="background:url('{% if mylist.photo %}}{{ mylist.photo.url }} {% endif %}') no-repeat bottom right; background-size: 250px 250px;">
		<span class="datebox">Last modified: {{ mylist.pub_date|timesince }} ago <br> Posted by: {{ mylist.created_by }}</span>
		<h3>Unique identity match found</h3> 
		<p>
			{{ mylist.slug }}
		</p>
		<h3> Owner </h3>
		<p>
			{{ mylist.created_by }}
		</p>
		<h3>Device</h3> 
		<p>
			{{ mylist.device }}
		</p>
		<h3>Of type</h3>
		<p>
			{{ mylist.get_type_of_item_display }}
		</p>
		<h3>Description</h3> 
		<p>
			{{ mylist.description }}
		</p>
			<div class="resultoption"> 
			{% if user == mylist.created_by %}
				<span> 
					<a href="/app/delete/{{ mylist.slug }}" class="bbtn red" role="button">Delete</a>
				</span> 
				<span> 
					<a href="/app/edit/{{ mylist.slug }}" class="bbtn blue" role="button">Edit</a>
				</span> 
			{% endif %}
				<span>
					<a href="/app/notify/{{ mylist.slug }}" class="bbtn turquoise" role="button"> Notify Owner </a>
				</span>
				<span>
					Modified {{ mylist.pub_date|timesince }} ago
				</span>			
			</div>
	</div>
{% endblock %}