{% extends 'menpha.html' %}
{% load static %}
{% load i18n %}
{% block title %} Search {% endblock %}

{% block notify %}
	{% trans "Enter the IMEI number below and press search when done." %}
{% endblock %}

	{% block content %}
		<div class="searchbox">
			<div class="decobox">
				<form class="search" action="/app/search/">
					<input type="text" name="q" required placeholder="Unique Number" maxlength="30" />
					<input type="submit" value="Search" class="bbtn blue large" />
				</form>
			</div>
		</div>
	{% endblock %}
