{% extends 'metrika.html' %}
{% load i18n %}
{% block ifhomescreen %} <!-- --> {% endblock %}
 {% block content %}
 <!--Blog Screen-->
      <article class="pt-page pt-page-6" id="blog">
        <div class="outer-wrapper orange-bg">
          <!--Header-->
          <header class="row-fluid">
            <div class="container">
              <div class="span8 relative">
              	<div class="page-navi">
                	<a class="home-page" href="{% url 'intro' %}" title="Go Home"></a>
                </div>
                <h1>Learn Quick</h1>
               
              </div>
              <div class="span4">
                <ul class="social-bar-white">
                   {% include "socialmedia.html" %}
                </ul>
              </div>            
            </div>
          </header>
          <!--Content-->
          <section class="row-fluid">
            <div class="container blogpost-row">
            	<div class="span6" style="height:auto;">
              	<div class="blogpost page-transition" href="">
                	<span class="figcap"></span>
                  {% blocktrans %}
                  <h2>How to use Menpha</h2>
                  <p>Menpha is an easy-to-use web app developed to solve a single task, and solve it well!</p> <br/>
                  <p>
                  Menpha involves three easy, fast steps. You're good to carry on these steps in any order you prefer. They're not sequential.  
                  </p> <br>
                  <p>
                    -- Add your IMEI numbers of any device type you own (for instance, your smartphone) and indicate whether its with you or not.
                  </p><br>
                  <p>
                    -- Search for any IMEI number and know whether its stolen or missing
                  </p><br>
                  <p>
                    -- Share with your friends when you learn an IMEI is no longer with the owner (in other words, its stolen or missing)
                  </p><br>
                  <p>
                    I serve you best using the steps above.
                  </p><br>
                  <p>
                    Enjoy your stay
                  </p>
                  {% endblocktrans %}
                </div>
              </div>
              <div class="span6" style="height:auto;">
                <div class="blogpost page-transition" href="">
                  <span class="figcap"></span>
                  {% blocktrans %}
                  <h2>What is IMEI number?</h2>
                  
                  <p>
                    International Mobile Equipment Identity (IMEI), is used to identify a particular mobile phone. Every mobile phone comes with an IMEI and they're unique globally. 
                  </p><br>
                  <p>
                    And because these IMEI are unique across all devices with them, Menpha employs that uniqueness in its reporting system, preventing a single IMEI from being added twice.
                  </p><br>
                  <p>
                    With this in mind, you can expect only a single result whenever you search against my database. If you do not come across a results of your search query, then it is likely the device is still in safe hands and you can proceed to purchase.
                  </p>
                  {% endblocktrans %}
                </div>
              </div>
            	<div class="span6">
              	<div class="blogpost page-transition" href="">
                	<span class="figcap"></span>
                  {% blocktrans %}
                  <h2>Test-ride Menpha</h2>
                  
                  <p>Seeing is believing, as practicing is understanding. Thus, I offer new visitors to explore what Menpha is an actually have a feel of what I can offer. You will enjoy. Use the details below to access Menpha as a guest. 
                  <br/>
                    Username: <strong> guest </strong> <br/>
                    Password: <strong> guest </strong>
                  </p>
                  {% endblocktrans %}
                </div>
              </div>
            </div>

            <!--<div class="container blogpost-row">
              <a class="load-more-btn" href="#"><span class="figcap"></span><p>Load more</p></a>
            </div>-->
          </section>
          <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
            {% include "footer.html" %}
      </article> 
      {% endblock %}