{% extends 'menpha.html' %}
{% block title %} Privacy & Terms {% endblock %}

{% load static %}

{% block content %} 
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content"></div>
      <div class="project-hero">
        <div class="maia-cols">
          <div class="maia-col-4 hero-img">
            <img alt="Provide One HIV Test, Save Two Lives" src="{% static "provide-hiv-test.jpg" %}">
          </div>
          <div class="maia-col-8 hero-content">
            <p>
              Learn about Menpha
            </p>
            <h1 class="project-title">
              Menpha Project
            </h1>
            <p class="project-organization">
              Menpha is an open project, conceptualized by Felix, and brought to fruition by Rexford N. 
            </p>
            <p class="project-content">
              Menpha Project is a start-up platform developed to use the power of information, provided by humans in solving a real life problem. With our vast storage of details about uniquely-identifiable devices across the world, Menpha is able to give you the right insight should you want to purchase a second-hand item. <a href="">Learn about the Menpha steps</a>
            </p>
            <p class="project-content">
              On the other hand, losing a cheerished device can be unfortunate. Menpha gives you the opportunity to gently notify millions of persons using our platform daily. You may be then notified by someone somewhere who might come in contact with your item via email through our system. Perhaps the 'theif' will wanna sell off your item or even present it as a gift. You and notify can therefore form the best alliance in union with your local security agency in bringing to book such unscrupturous persons in our communities.
            </p>
            <p class="project-content">
              Menpha gets more and more accurate with its growing user-base. Having the most of information about devices globally, we are poised to offer the details to users of our platform.
            </p>
            <p class="project-impact-blurb">
              Its everyone's job to help make the world a better and safer place.
            </p>
            <div class="hero-footer">
              <img alt="Project logo" src="{% static "hero-logo.png" %}">
              <p class="hero-footer-link">
                <a href="{% url 'donate' %}" target="_blank">Donate</a>
                <a href="" target="_blank">Contribute Code</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="statics/view.js"></script> 
    {% endblock %}

