{% extends 'menpha.html' %}
{% load static %}
{% load i18n %}
{% block title %} The Story Behind {% endblock %}

    {% block content %}
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content"></div>
      <div class="project-hero">
        <div class="maia-cols">
          <div class="maia-col-4 hero-img">
            <img alt="abstract" src="{% static "side.jpg" %}">
          </div>
          <div class="maia-col-8 hero-content">
            <h1 class="project-title">
              {% trans "The Birth of Menpha" %}
            </h1>
            <p class="project-organization">
              {% trans "It started from somewhere..." %}
            </p>
            <p class="project-content">
            {% blocktrans %}
              Describe here
            {% endblocktrans %}
            </p>
            <p class="project-impact-blurb">
            {% blocktrans %}
              Millions around the world are disturbed by the increase in theft and fall victim to similar situations and even worse. With each device made having a unique identify, humans like-minded can bring that to a steady traction and halt eventually (and hopefully).
            {% endblocktrans %}
            </p>
            <div class="hero-footer">
              <img alt="Project logo" src="{% static "hero-logo.png" %}">
              <p class="hero-footer-link">
                <a href="{% url 'start' %}" target="_blank">{% trans "Learn about the part you play" %}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    {% endblock %}
