{% extends 'metrika.html' %}

{% block ifhomescreen %} <!-- --> {% endblock %}

{% block content %}
<!--Our Team Screen-->
      <article class="pt-page pt-page-2" id="team">
        <div class="outer-wrapper green2-bg">
          <!--Header-->
          <header class="row-fluid">
            <div class="container">
              <div class="span8 relative">
              	<div class="page-navi">
                  <a class="home-page" href="{% url 'intro' %}" title="Go Home"></a>
                </div>
                <h1>Our Team</h1>
                
              </div>
              <div class="span4">
                <ul class="social-bar-white">
                   {% include "socialmedia.html" %}
                </ul>
              </div>
            </div>
          </header>
          <!--Content-->
          <section class="row-fluid">
            <div class="container">
              <div class="span12">
                <p> See Menpha's maintainers and developers.</p>
              </div>
            </div>
            <div class="container">

              <div class="span4 team-mate">
                <span class="figcap"></span>
                <a href="http://google.com/+Nkansahrexford" target="_blank" title="Rexford N">
                  <img src="/static/img/team/me.jpg" alt="Rexford N.">
                  <h2>Rexford N.</h2>
                  <h3>Website Developer</h3>
                </a>
                <p>A website developer and 3D artist. Developer of the Menpha web application.</p>
                <ul class="social-bar2">
                  <li><a class="googleplus-black" href="http://google.com/+Nkansahrexford" title="Google+" target="_blank"></a></li>
                </ul>
              </div>
              <div class="span4 team-mate">
                <span class="figcap"></span>
                <a href="" title="Felix N">
                  <img src="/static/img/team/felix.jpg" alt="Felix N.">
                  <h2>Felix N.</h2>
                  <h3>CCIE + Founder, Redmango Ghana</h3>
                </a>
                <p>One of Cisco Experts in West Africa, and the founder of RedMango Ghana. Felix is the origin of the Menpha concept.</p>
                <ul class="social-bar2">
                  <li><a class="googleplus-black" href="" title="Google+"></a></li>
                </ul>
              </div>
            </div>
          </section>
          <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
        {% include "footer.html" %}

      </article>
    {% endblock %}