{% extends 'menpha.html' %}
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content"></div>
      <div id="fnp-container">
        <div class="maia-cols">
          <div class="maia-col-4" id="top-bg">
            <img alt="" src="statics/fnp-bg-top.jpg">
          </div>
          <div class="maia-col-8">
            <h1 class="maia-display">
              Team Behind Menpha
            </h1>
            <p class="ot-display">
            {% blocktrans %}
              Menpha is an open project developed to gather real information just about any uniquely-identifiable device in the world. With this information in hand, Menpha goes a step further to provide you with its core service of helping you find an item of yours should it get lost or stolen. Menpha does so by allowing any one within its vibrant global community to learn about your lost/stolen item, preventing the resale of it.
            {% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}
              Registration is free and instant. Only the most important personal information about you is required by Menpha. The rest? Keep them in your private bedroom! <a href="">Learn about our privacy and terms</a>
            {% endblocktrans %}
            </p>
            <p>
              <a class="maia-button" data-g-action="Maia: Primary – Content" data-g-event="Maia: Button" data-g-label="Register here" href="http://www.google.com/nonprofits/join/">{% trans "Sign up here" %}</a>
            </p>
          </div>
        </div>
        <div class="maia-cols">
          <div class="maia-col-4" id="pagination-container">
            <div class="pagination-expose">
              <div style="width: 2310px; margin-left: 0px;" class="pagination-scroll">
                <div style="width: 770px;" class="nf-slides">
                  <img alt="" src="statics/fornonprofit_why-1.jpg">
                  <div class="slide-box">
                    <p class="slide-content">
                      Receive notifications about projects you might be interested in based on your
                      donation history.
                    </p><a class="nextFact">Next</a>
                  </div>
                </div>
                <div style="width: 770px;" class="nf-slides">
                  <img alt="" src="statics/fornonprofit_why-2.png">
                  <div class="slide-box">
                    <p class="slide-content">
                      Learn about the project and how your donation will help contribute.
                    </p><a class="nextFact">Next</a>
                  </div>
                </div>
                <div style="width: 770px;" class="nf-slides">
                  <img alt="" src="statics/fornonprofit_why-3.png">
                  <div class="slide-box">
                    <p class="slide-content">
                      Track your donation impact and see how much money has been raised for the
                      projects you’ve donated to.
                    </p><a class="nextFact">Next</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="dot-nav"><a class="current"></a><a class=""></a><a class=""></a></div>
          </div>
          <div class="maia-col-8 fnp-copy-block">
            <div>
              <h2 class="ot-display">
                How does it work?
              </h2>
              <div class="bg-positioner" id="arrow-1">
                <p>
                  <strong>We connect users with causes most likely to interest them.</strong> Each
                  day, the app highlights cool projects from organizations like yours.
                </p>
                <p>
                  <strong>Users donate</strong> to projects they like.
                </p>
              </div>
              <div class="bg-positioner" id="arrow-2">
                <p>
                  <strong>A few dollars become many</strong> as users invite their friends to
                  donate through social media. The more people who donate, the faster your project
                  gets funded.
                </p>
                <p>
                  <strong>Your nonprofit receives monthly project donations</strong> through our
                  partner Network for Good.
                </p>
              </div>
              <div class="bg-positioner top-layer"></div>
            </div>
            <h2 class="ot-display">
              Why should my nonprofit sign up?
            </h2>
            <p>
              <strong>It takes minutes, not months.</strong> Creating projects with One Today only
              requires about ten minutes of planning.
            </p>
            <p>
              <strong>Expand your donor base.</strong> One Today helps you fundraise by introducing
              your projects to people who are more likely to donate to your cause because they, or
              their friends, have donated to similar projects.
            </p>
            <p>
              <strong>Raise awareness about the amazing things you do.</strong> Tell your story to
              new audiences of users who care about the same things that you do.
            </p>
            <p>
              <strong>Create a social movement around your fundraising.</strong> Give your fans and
              followers on social media a new way to show their support.
            </p>
            <p>
              <a class="maia-button" data-g-action="Maia: Primary – Content" data-g-event="Maia: Button" data-g-label="Register here" href="http://www.google.com/nonprofits/join/">Register here</a>
            </p>
          </div>
        </div>
        <p>
          <a href="https://support.google.com/onetoday/" target="_blank">The One Today Nonprofit
          Help Center</a> has more information about how to use your One Today nonprofit account.
        </p>
      </div>
    </div>
