{% extends 'metrika.html' %}

{% block ifhomescreen %} <!-- --> {% endblock %}

{% block content %}
<!--Our Team Screen-->
      <article class="pt-page pt-page-2" id="team">
        <div class="outer-wrapper green2-bg">
          <!--Header-->
          <header class="row-fluid">
            <div class="container">
              <div class="span8 relative">
              	<div class="page-navi">
                  <a class="home-page" href="{% url 'base' %}" title="Go Home"></a>
                </div>
                <h1>Our Team</h1>
                
              </div>
              <div class="span4">
                <ul class="social-bar-white">
                  <li><a class="google-white" href="#" title="Facebook" target="_blank"></a></li>
                </ul>
              </div>
            </div>
          </header>
          <!--Content-->
          <section class="row-fluid">
            <div class="container">
              <div class="span12">
                <p>I appreciate the effort my master puts into making me serve you better. Though he has got not so many people supporting, he is dedicated to improving me steadily and better.</p>
                <p>
                I'm glad to present to you my maintainers below. Besides, I'm not that stubborn to have many maintainers keeping me in check.
                </p>
              </div>
            </div>
            <div class="container">

              <div class="span4 team-mate">
                <span class="figcap"></span>
                <a href="http://google.com/+Nkansahrexford" target="_blank" title="Rayan Green">
                  <img src="/static/img/team/green.jpg" alt="Rayan Green">
                  <h2>Rexford N.</h2>
                  <h3>Website Developer</h3>
                </a>
                <p>I live in Ghana. I enjoy breaking grounds and solving real life problems, thus Menpha.</p>
                <ul class="social-bar2">
                  <li><a class="googleplus-black" href="" title="Google+" target="_blank"></a></li>
                </ul>
              </div>
            </div>
          </section>
          <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
        <!--Footer-->
        <footer>
          <div class="container">
            <p>Copyright &copy; ItemBridge inc., 2013</p>
          </div>
        </footer>
      </article>
    {% endblock %}