{% extends 'menpha.html' %}
{% load i18n %}
{% load static %}

{% block title %} Technologies Behind {% endblock %}

{% block content %}
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content"></div>
      <div class="project-hero">
        <div class="maia-cols">
          <div class="maia-col-4 hero-img">
            <img alt="Technology" src="{% static "technology.png" %}">
          </div>
          <div class="maia-col-8 hero-content">
            <p>
              {% trans "What we run backstage" %}
            </p>
            <h1 class="project-title">
              {% trans "Technology behind Menpha" %}
            </h1>
            <p class="project-organization">
            {% blocktrans %}
              Menpha Project, like many other websites, relies on some technologies. At the core, is the Django Project Framework built on top of the Python Programming language. We list more of them below.
            {% endblocktrans %}
            </p>
            <p class="project-content">
            <ul>
              <li>Python Programming Language</li>
              <li>Django Framework Project</li>
              <li>Pillow (Similar to Python Image Library) </li>
              <li>dj-database-url</li>
              <li>dj-static</li>
              <li>django-toolbelt</li>
              <li>gunicorn</li>
              <li>psycopg2</li>
              <li>static </li>
              <li>wsgiref</li>
              <li>django-imagekit</li>
              <li>South Migration</li>
            </ul>
            </p>
            <p class="project-content">
              Domain name is from <a href="http://godaddy.com" target="_blank"> GoDaddy</a> and app hosting provided by <a href="http://heroku.com" target="_blank">Heroku</a>.
            </p>
            <p class="project-impact-blurb">
              {% trans "Be a part of Menpha Project. Contribute code today!" %}
            </p>   
             <div class="hero-footer">
              <img alt="Project logo" src="{% static "hero-logo.png" %}">
              <p class="hero-footer-link">
                <a href="{% url 'developer' %}" target="_blank">{% trans "Developers" %}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  {% endblock %}