{% extends "base.html" %}
{% load i18n %}

{% block title %} Password Reset Confirmation {% endblock %}

{% block notify %}
	Confirmation of your Password Reset
{% endblock %}

{% block content %}

	{% if validlink %}
	<div class="confirmbox">
		<form method="post" action=".">{% csrf_token %}
		  {{ form.as_p }}

		  <input type="submit" value="{% trans 'Submit' %}" class="bbtn blue large"/>
		</form>

	{% else %}

		<p>{% trans "Password reset failed" %}</p>

	{% endif %}
	</div>

{% endblock %}
